<script setup lang="ts">

const componentProps = defineProps<{
    listaFilmes: string[]
}>()

const page = ref<number>(0)
const idFilmes = ref<number[]>()
const condensedData = ref('')

const {data, pending} = useAsyncData('filmes', async () => {
    const filmes = []

    for (const filme of componentProps.listaFilmes) {
        if (filme) {
            const res: any = await $fetch(`https://api.themoviedb.org/3/search/movie`,
            {
                method: 'GET',
                headers: {
                    accept: 'application/json',
                    Authorization: `Bearer ${useRuntimeConfig().public.IMDB_KEY}`
                },
                query: {
                    query: filme,
                    include_adult: false,
                    language: 'pt-BR',
                    page: 1,
                }
            }
            )
            
            const id = res.results[0].id as number

            idFilmes.value?.push(id)

            const details: object = await $fetch(
                `https://api.themoviedb.org/3/movie/${id}`,
                {
                    method: 'GET',
                    headers: {
                        accept: 'application/json',
                        Authorization: `Bearer ${useRuntimeConfig().public.IMDB_KEY}`
                    },
                    query: {
                        language: 'pt-BR',
                    }
                }
            )

            filmes.push(details)

            condensedData.value += `${filme}: 
            ${JSON.stringify(details)}
            ----------------------------------------------------------------`
        }
    }
    return filmes as any[]
})

const nuxtApp = useNuxtApp()

watch(pending, () => {
    generate(`Irei mandar vários detalhes dos filmes recomendados por você. Organize-os e mantenha-os em mente para responder todas as proximas perguntas como um grande cinéfilo:
    
    ${condensedData.value}`)
})

</script>

<template>
    <div class="movie-vote">
        <button 
            class="btn-esquerda"
            @click="() => {
                if (page > 0) {
                    page -= 1
                }
            }"
        >
            &#10094;
        </button>
        <template v-for="(filme, index) in data">
            <div v-if="index === page" class="movie-details">
                <div class="img-movie">
                    <img 
                        :src="`https://image.tmdb.org/t/p/original${filme.poster_path}`" 
                        :alt="`https://image.tmdb.org/t/p/original${filme.backdrop_path}`" 
                    >
                </div>
                <h3>{{ filme.title }}</h3>
                <span class="sinopse">{{ filme.overview }}</span>
                <p>Orçamento: <span>{{ currencyFormatter.format(filme.budget) }}</span></p>
                <p>Gênero(s):&nbsp;
                    <span v-for="(genero, numero) in filme.genres">
                        {{ genero.name }}<span v-if="numero < filme.genres.length - 1">, </span>
                    </span>
                </p>
                <p>Idioma original: <span>{{ filme.original_language }}</span></p>
                <p>Data de lançamento: <span>{{ filme.release_date.slice(-2) }}/{{ filme.release_date.slice(5, 7) }}/{{ filme.release_date.slice(0, 4) }}</span></p>
                <p>Duração: <span>{{ Math.floor(filme.runtime / 60) }}h {{ filme.runtime % 60 }}min</span></p>
                <p>Nota: <span>{{ filme.vote_average.toFixed(2) }}</span></p>
            </div>
        </template>
        <button 
            class="btn-direita"
            @click="() => {
                if (data && page < data?.length - 1) {
                    page += 1
                }
            }"
        >
            &#10095;
        </button>
    </div>
</template>

<style lang="scss">
.movie-vote {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% + 16px);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0;

    .movie-details {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        color: white;

        .img-movie {
            display: flex;
            position: relative;
            min-width: 300px;
            min-height: 450px;
            overflow: hidden;
            align-self: center;

            img {
                position: absolute;
                height: 100%;
                border-radius: 10px;
                box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
                object-fit: cover;
                object-position: center;
            }
        }

        h3 {
            font-size: 30px;
            font-weight: 600;
            margin-bottom: 20px;
            align-self: center;
        }

        p {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 20px;

            span {
                font-weight: 400;
            }
        }

        .sinopse {
            text-align: justify;
            align-self: center;
            margin-bottom: 20px;
        }
    }

    .btn-esquerda, .btn-direita {
        width: 50px;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: 50%;
        border: none;
        color: white;
        font-size: 30px;
        font-weight: 600;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
        cursor: pointer;
    }

    .btn-esquerda:hover, .btn-direita:hover {
        background-color: rgba(0, 0, 0, 0.9);
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.9);
    }
}
</style>