<script setup lang="ts">
const inputPessoa1 = ref<string>('')
const inputPessoa2 = ref<string>('')
const output = ref<string[]>()
</script>

<template>
    <section class="main-index">
        <div class="container-inputs">
            <label for="input-pessoa-1">
                O que você está com vontade de assistir?
                <textarea 
                    id="input-pessoa-1"
                    v-model="inputPessoa1"
                    type="text"
                />
            </label>
            <div class="divider" />
            <label for="input-pessoa-2">
                O que você está com vontade de assistir?
                <textarea 
                    id="input-pessoa-2"
                    v-model="inputPessoa2"
                    type="text"
                />
            </label>
        </div>
        <button 
            type="button"
            class="btn-buscar-filmes"
            @click="async () => {
                output = [];
                const result = await findMovies(inputPessoa1, inputPessoa2)

                output = result.replace('Gemini:', '').replace('\n', '').split(`||`)
            }"
        >
            Buscar filmes
        </button>
        <MovieVote v-if="output?.length" :lista-filmes="output" />
        <RecommendationChat v-if="output?.length" />
    </section>
</template>

<style lang="scss">
.main-index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    
    .container-inputs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 500px;

        .divider {
            width: 100%;
            height: 1px;
            background-color: #000;
            opacity: 0.5;
            margin: 20px 0px;
        }

        label {
            display: flex;
            flex-direction: column;
            width: 100%;
            font-weight: bold;
            font-size: 15px;

            textarea {
                width: calc(100% - 20px);
                height: 130px;
                padding: 10px;
                border: 1px solid #000;
                border-radius: 5px;
                outline: none;
                font-size: 16px;
            }
        }
    }

    .btn-buscar-filmes {
        width: 100%;
        height: 50px;
        background-color: #000;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        border: 1px solid #000;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        transition: 0.3s;
        max-width: 420px;
    }

    .btn-buscar-filmes:hover {
        background-color: #fff;
        color: #000;
        border: 1px solid #000;
        transition: 0.3s;
    }

}

textarea {
    resize: none;
}
</style>