<script setup lang="ts">
import type { Content, GenerateContentStreamResult } from '@google/generative-ai';

const mensagem = ref<string>('')
const history = reactive<Content[]>([])
const pending = ref<boolean>(false)

async function readStream(result: GenerateContentStreamResult) {
    pending.value = true
    history.push({
        role: 'user',
        parts: [
            {
                text: mensagem.value,
            }
        ]
    })
    mensagem.value = ''

    history.push({
            role: 'model',
            parts: [
                {
                    text: '',
                }
            ]
        })

    for await (const part of result.stream) {
        const text = part.text()
        
        history[history.length - 1].parts[0].text += text
    }
}

</script>

<template>
    <div class="recommendation-chat">
        <div class="container-chat">
            <p class="chat-bubble">
                E aí? O que achou das recomendações? Se tiver alguma pergunta, pode me dizer!
            </p>
            <template v-for="(msg, index) in history">
                <p 
                    class="chat-bubble"
                    :class="msg.role === 'user' ? 'user' : ''"
                >
                    <template v-for="part in msg.parts">
                        {{ part.text }}
                    </template>
                </p>
            </template>
        </div>
        <div class="container-messaging">
            <textarea 
                v-model="mensagem" 
                @keyup.enter="async e => {
                    if (e.shiftKey) 
                        return
                    e.preventDefault()
                    
                    if (!pending) {
                        const result = await generate(mensagem)
                        readStream(result).then(() => {
                        pending = false
                    })
                    }
                }"
            />
            <button 
                type="button"
                class="btn-send-msg"
                @click="async () => {
                    if (!pending) {
                        const result = await generate(mensagem)
                        readStream(result).then(() => {
                        pending = false
                    })
                    }
                }"
            >
                &#10147;
            </button>
        </div>
    </div>
</template>

<style lang="scss">
.recommendation-chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .container-chat {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        max-width: 800px;
        overflow-x: hidden;
        overflow-y: auto;

        .chat-bubble {
            position: relative;
            max-width: 50%;
            background-color: rgba(0, 0, 0, 0.5);
            color: #fff;
            padding: 20px;
            border-radius: 10px;
            font-size: 20px;
            text-align: justify;
        }

        .chat-bubble::before {
            content: '';
            position: absolute;
            border-left: 10px solid transparent;
            border-right: 20px solid transparent;
            border-top: 15px solid rgba(0, 0, 0, 0.5);
            bottom: -14px;
            left: 20px;
        }

        .chat-bubble.user {
            background-color: rgba(85, 130, 134, 0.7);
            align-self: flex-end;
        }

        .chat-bubble.user::before {
            border-top: 15px solid rgba(85, 130, 134, 0.7);
            border-right: 10px solid transparent;
            border-left: 20px solid transparent;
            right: 20px;
            left: unset;
        }
    }

    .container-messaging {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100px;
        max-width: 800px;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px;
        margin-top: 20px;
        gap: 10px;

        textarea {
            resize: none;
            width: calc(100% - 70px);
            padding: 10px;
            height: 25px;
            border-radius: 10px;
            font-size: 20px;
        }

        .btn-send-msg {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: rgba(85, 130, 134, 0.7);
            border: none;
            color: #fff;
            font-size: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.3s;

            &:hover {
                background-color: rgba(85, 130, 134, 0.5);
            }

            &:active {
                background-color: rgba(85, 130, 134, 0.3);
            }

            &:focus {
                outline: none;
            }

            &:focus-visible {
                outline: none;
            }
        }
    }
}
</style>